.footers-plays-Hint {
  font-size: min(8vw, 6vh);
  line-height: min(8vw, 6vh);
  text-align: center;
  translate: -50% 0;
  pointer-events: none;
  user-select: none;

  > .content {
    position: absolute;
    left: 0;
    bottom: calc(100% - 10px);
  }

  .arrow {
    animation: footers-plays-Hint-arrow 0.3s infinite alternate;
  }
}

@keyframes footers-plays-Hint-arrow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10%);
  }
}
