.footers-plays-Hint {
  font-size: min(5vw, 4vh);
  line-height: min(5vw, 2vh);
  text-align: center;
  translate: -50% 0;
  pointer-events: none;
  user-select: none;

  .content {
    white-space: pre;
  }

  .arrow {
    animation: footers-plays-Hint-arrow 0.3s infinite alternate;
  }
}

@keyframes footers-plays-Hint-arrow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10%);
  }
}
