.footers-plays-HintContent {
  position: relative;

  .space,
  .content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 10px 20px;
    font-size: min(8vw, 6vh);
    line-height: min(8vw, 6vh);

    &.zh,
    &.ja {
      font-size: min(6vw, 4vh);
    }
  }

  .space {
    white-space: nowrap;
    word-break: keep-all;
    opacity: 0;
  }
}
