.headers-SuccessForm {
  position: absolute;
  width: min(80vw, 300px);
  left: calc(50% - (min(80vw, 300px) / 2));
  top: 25vh;
  text-align: center;
  user-select: none;
  transition: 0.1s cubic-bezier(0.63, 0.07, 0.58, 2.02);

  .level {
    font-size: 20px;
    color: #ff6b6b;

    .label {
      &.zh,
      &.ja {
        font-size: 16px;
      }
    }
  }

  .content {
    border-radius: 10px;
    padding: 10px 10px;
    background-color: #ffffffcc;
    color: #ff6b6b;

    .state {
      padding: 5px 30px;
      font-size: 50px;
      word-break: keep-all;
    }

    .message {
      font-size: 30px;
      border-top: 1px solid #ff6b6b;
    }
  }

  .button {
    margin-top: 20px;
    border-radius: 30px;
    background-color: #ff6b6b;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    white-space: pre;
    transition: 0.1s cubic-bezier(0.63, 0.07, 0.58, 2.02) 0.7s;
    cursor: pointer;

    &.en {
      font-size: 30px;
    }

    &.zh,
    &.ja {
      padding-top: 5px;
      padding-bottom: 5px;
      font-size: 24px;
    }
  }

  &.active {
    transition-delay: 0.6s;
  }

  &:not(.active) {
    scale: 0.8;
    opacity: 0;
    pointer-events: none;

    .button {
      scale: 0.8;
      opacity: 0;
    }
  }
}
