.headers-Title {
  position: absolute;
  left: 25px;
  top: 15px;
  pointer-events: none;
  user-select: none;

  &:not(.active) {
    opacity: 0;
  }

  .level {
    font-size: 16px;

    .label,
    .name {
      &.zh,
      &.ja {
        font-size: 14px;
      }
    }
  }
}
