.blocks-Hint {
  font-size: min(8vw, 5vh);
  line-height: min(8vw, 5vh);
  color: white;
  pointer-events: none;
  user-select: none;

  > .content {
    position: absolute;
    bottom: 25px;
    right: -40px;
    white-space: pre-line;
  }

  .arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    animation: blocks-Hint-arrow 0.3s infinite alternate;
  }
}

@keyframes blocks-Hint-arrow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10%);
  }
}
