.footers-Retry {
  position: relative;
  padding: 10px;
  transition: 0.3s;

  &::before {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(./rewind.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    height: 2px;
    background-color: #ff6b6b;
    content: "";
  }

  &.active {
    &::before {
      transition: 1s;
    }

    &::after {
      transition: 1s;
    }

    &.loading {
      &::before {
        rotate: -360deg;
        transition: 1.5s;
      }

      &::after {
        right: 0;
        transition: 1.5s;
      }
    }
  }

  &:not(.active) {
    opacity: 0.2;
    pointer-events: none;
  }
}
