.settings-Form {
  position: absolute;
  width: min(80vw, 260px);
  left: calc(50% - (min(80vw, 260px) / 2));
  top: 45%;
  translate: 0 -50%;
  transition: 0.3s;
  user-select: none;

  &:not(.active) {
    translate: 0 calc(-50% + 10px);
    opacity: 0;
    pointer-events: none;
  }

  > .content {
    background-color: #ffffffdd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .close {
    background-color: #ff6b6b;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
    color: white;
    line-height: 24px;
    text-align: center;
    cursor: pointer;

    &.en {
      font-size: 22px;
    }

    &.zh,
    &.ja {
      font-size: 18px;
    }
  }
}
