.footers-histories-Undo {
  padding: 10px;
  transition: 0.3s;

  &::before {
    display: block;
    width: 24px;
    height: 24px;
    background-image: url(./undo.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: "";
  }

  &:not(.active) {
    opacity: 0.2;
    pointer-events: none;
  }
}
