@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  background-color: #e4e0ba;
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}
